body {
    margin: 0;
    background: #050510;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.box {
    background: rgba(10, 10, 30, 0.95);
    padding: 30px;
    border: 2px solid #00f2ff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 25px #00f2ff55;
}

h1 span { color: #00f2ff; display: block; font-size: 1.2rem; }

input {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background: #000;
    border: 1px solid #00f2ff;
    color: #fff;
    text-align: center;
}

button {
    background: #00f2ff;
    border: none;
    padding: 12px 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover { background: #fff; color: #000; }

#hud {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 5px;
    color: #00f2ff;
}

canvas {
    background: #000;
    border: 3px solid #111;
    display: block;
}

#rank-list {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 15px 0;
}

#rank-list li {
    padding: 5px;
    border-bottom: 1px solid #222;
    display: flex;
    justify-content: space-between;
}

.hidden { display: none !important; }
